
#title {
    color: navy;
    font: italic 90px;
    align-self: center;
}

#container {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    margin: 5px;
}

.block {
    color: blue;
}